.container {
  cursor: pointer;
  font-weight: 400;
  font-size: 1.6rem;
  width: fit-content;
  height: fit-content;
  color: var(--white);
  border-radius: 1.2rem;
  padding: 1.1rem 2.1rem;
  background-color: var(--black);
}
